<!DOCTYPE html>
<html></html>
<head>
    <meta charset="UTF-8"/>
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/styles.css"/>    
</head>
<body>
    <div class="central">     
        <% include ./partials/header %>    
        <h1>Express Movies : Le site des cinéhiles</h1>
        <div>
            Plutôt films ou séries?
        </div>            
    </div>
    <% include ./partials/footer %>
</body>